! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
! Use extended color scheme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: argb:ce000000, argb:ce000000, #00ccff
rofi.color-normal: argb:0000000, #ffffff, argb:0000000, #222222, #ffffff
rofi.color-active: argb:0ffffff, #ffffff, argb:0ffffff, #222222, #ffffff
rofi.color-urgent: argb:0ffffff, #ffffff, argb:0ffffff, #222222, #ffffff
! Separator style (none, dash, solid)
rofi.separator-style:                solid